/* * {
    outline: solid 2px black;
} */

.custom-font-1 {
    font-family: 'Iceberg', cursive;
    font-size: 3rem;
}

.custom-font-2 {
    font-family: 'Iceberg', cursive;
    font-size: 1rem;
}

.bg-image-1 {
    background-image: url(bg-image-1.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;   
}

.bg-image-2 {
    background-image: url(bg-image-2.jpeg);
    background-size: 50%;
}

.bg-light-grey {
    background-color: rgb(219, 219, 219);
}

.bg-orange {
    background-color: rgb(199, 96, 0);
}

.card-shadow {
    box-shadow: 5px 5px 10px;
}