/* * {
    outline: solid 2px black;
} */

.custom-font-1 {
    font-family: 'Iceberg', cursive;
    font-size: 3rem;
}

.custom-font-2 {
    font-family: 'Iceberg', cursive;
    font-size: 1rem;
}

.bg-image-1 {
    background-image: url(bg-image-1.png);
    background-size: auto;
}

.bg-image-2 {
    background-image: url(bg-image-2.jpeg);
    background-size: 50%;
}





.card-shadow {
    box-shadow: 5px 5px 10px;
}